.bg-brand {
	background: #1A1A3E;
	background: linear-gradient(30deg, #1A1A3E 50%, #28285D 50%);
}

.bg-brandrev {
	background: #1A1A3E;
	background: linear-gradient(30deg, #28285D 50%, #1A1A3E 50%);
}

.bg-greyalt {
	background: #343a40;
	background: linear-gradient(-30deg, #343a40 50%, #4a595f 50%);
}

.bg-greyaltrev {
	background: #343a40;
	background: linear-gradient(-30deg, #4a595f 50%, #343a40 50%);
}