---
---

@import "bootstrap5-compat.scss";

@import "theme.scss";
@import "backgrounds.scss";
@import "card-grid.scss";

.card-deck:not(:last-child) {
	margin-bottom: 0px;
}

.navbar {
	--bs-navbar-padding-x: 0.5rem;
}
