---
layout: default
media:
  src: /img/logo.png
  alt: Doctor Internet's Logo
styles:
  - /css/home.css
  - /css/backgrounds.css
  - /css/portfolio.css
description: "Doctor Internet's Portfolio. What he's done and what he's doing, along with details of contributions to the open source community."
per_row: 3
---
<div id="languages" class="section sm-padding bg-brand">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="title white-text">#1, what languages?</h2>
		</div>

		{% include portfolio_cards.html page_loop=site.languages %}
	</div>
</div>

<div id="technology" class="section sm-padding bg-greyaltrev">
	<div class="container">
		<div class="section-header text-center mt-4">
			<h2 class="title white-text">#2, what technologies?</h2>
		</div>

		{% include portfolio_cards.html page_loop=site.technologies %}
	</div>
</div>

<div id="workdone" class="section sm-padding bg-lightalt">
	<div class="container">
		<div class="section-header text-center mt-4">
			<h2 class="title">#3, what work?</h2>
		</div>

		<div class="card-columns">
			{% for work in site.work %}
				{{ work.output }}
			{% endfor %}
		</div>
	</div>
</div>
