@mixin bg-gradient ($left, $right, $rev: false){
	@if $rev {
		background: $left;
		background: linear-gradient(30deg, $left 50%, $right 50%);
	} @else {
		background: $right;
		background: linear-gradient(-30deg, $right 50%, $left 50%);
	}

}

@mixin make-gradient ($name, $left, $right){
	.bg-#{$name} {
		@include bg-gradient($left, $right);
	}

	.bg-#{$name}rev {
		@include bg-gradient($left, $right, true);
   }
}

@include make-gradient("brand", #1A1A3E, #28285D);
@include make-gradient("greyalt", #343a40, #4a595f);
@include make-gradient("bg-lightalt", #f8f9fa, #aeafb0);
