<div class="card work">
	<div class="card-body">
		<h4 class="card-title">{{ page.title }}</h4>
		{% if page.roles != null %}
		<div class="card-role">
			<ul>
				{% for role in page.roles %}
				<li>{{ role }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div class="card-dates">
			{% if page.started == null && page.date != null %}
			<div><strong>Started:</strong> {{ page.date |  }}</div>
			<div><strong>Started:</strong> {{ page.started }}</div>
			{% if page.ended == null %}
			<div><strong>Ongoing</strong></div>
			{% else %}
			<div><strong>Ended:</strong> {{ page.ended }}</div>
			{% endif %}
		</div>
		<p class="card-text">
			{{ content }}
		</p>
	</div>
</div>