<div class="card">
	{% if page.header %}
	<div class="card-header">
		{{ page.header }}
	</div>
	{% endif %}

	{% if page.title or page.subtitle or page.body or page.content %}
	<div class="card-body">
		{% if page.title %}<h3 class="card-title">{{ page.title }}</h3>{% endif %}
		{% if page.subtitle %}<h5 class="card-subtitle text-muted mb-3">{{ page.subtitle }}</h5>{% endif %}

		{% if page.body %}
		<ul class="card-text">
			{% for row in page.body %}<li>{{ row }}</li>{% endfor %}
		</ul>
		{% endif %}
		{% if page.content and page.content.size > 0 %}{{ page.content }}{% endif %}
	</div>
	{% endif %}
</div>