{% assign images = page.images %}
{% assign paragraphs = page.content | newline_to_br | strip_newlines | split: "<br /><br />" %}
<div class="card">
	<div class="card-header text-center">
		<h3 class="card-title mb-0">Photon Lighting Engine</h3>
	</div>

	<div class="card-body">
		{% for paragraph in paragraphs %}
			{{ paragraph }}
			{% assign index = forloop.index | minus: 1 %}
			{% if images[index] != null %}
				{% assign src = "/img/" | append: images[index].src %}
				{% assign alt = images[index].alt %}
				{% include mediabox.image.html src=src alt=alt %}
			{% endif %}
		{% endfor %}
	</div>
</div>